body {
    background: #707070;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input {
    background: #707070;
}

.match input {
    background: white;
}

#tournamentTitle::placeholder {
    color: #c6c6c6;
}

.playerNames::placeholder {
    color: #c6c6c6;
}

.playerNames {
    border: 1px solid white;
    color: white;
}

#select {
    color: white;
    background: #707070;
}

#bot-bar {
    background: #323438;
    position: absolute;
    display: flex;
    width: 100%;
    height: 9%;
    bottom: 0;
}

#bot-bar button {
    background: #3f78ea;
    border: none;
}

#randomize {
    width: 60%;
    margin-left: 20%;
    font-size: 40px;
    color: white;
}

#bot-bar button:focus {
    outline: none;
}

#bot-bar button:active {
    background: #032484;
    color: gray;
}

#bot-bar button:hover {
    cursor: pointer;
}

#bracket {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
}

.column {
    height: 100%;
    width: 10%;
}

#create {
    margin-top: 10%;
}

.match {
    height: 45px;
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
    border-radius: 10px;
    background: gray;
    color: white;
    margin-top: 10px;
}

.match > hr {
    margin-top: 1%;
    width: 100%;
}

.match > button:hover {
    cursor: pointer;
}

.line-containers {
    height: 100px;
    width: 50px;
}

.line {
    border-left: 0px;
    border-right: 2px solid white; 
    border-bottom: 2px solid white; 
    border-top: 2px solid white; 
    height: 75px;
    width: 50px;
}

#tournamentTitle {
    font-size: 30px;
    color: white;
    height: 50px;
    width: 345px;
    text-align: center;
    border: 1px solid white;
    color: white;
}

.playerInput {
    width: 85%;
    display: inline;
    margin-left: 10px;
}

.playerSlot {
    margin-left: 10px;
    display: block;
}

hr {
    margin-top: 10px;
}

.customize {
    display: none;
    margin-left: 2%;
    width: 4%;
}

#edit {
    
}

#switch {
    
}

#editimg {
    filter: hue-rotate(180deg);
}

.playernum {
    margin-top: 10px;
}

.playerNames {
    margin-top: 10px;
    margin-bottom: -9px;
    width: 150px;
    display: block;
}

#title {
    margin-left: 10px;
}